.root{
    -fx-background-position: center center;
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-font-size: 18px;
}
#welcomeLabel{
    -fx-font-size: 30px;
}

.btn-grad {
    -fx-background-color: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%);
    -fx-margin: 10px;
    -fx-padding: 15px 45px;
    -fx-text-align: center;
    -fx-text-transform: uppercase;
    -fx-transition: 0.5s;
    -fx-background-size: 200% auto;
    -fx-color: white;
    -fx-box-shadow: 0 0 20px #eee;
    -fx-border-radius: 10px;
    -fx-display: block;
}

.btn-grad:hover {
    -fx-background-position: right center; /* change the direction of the change here */
    -fx-color: #fff;
    -fx-text-decoration: none;
}

#loginButton {
    -fx-background-color: linear-gradient(to right, #0bbdd9 10%, #0dd696 100%, #fffb8f );
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

#loginButton:hover {
    -fx-background-color: linear-gradient(to right, #abffeb 2%, #0dd696 100% );
    -fx-effect: dropshadow( gaussian , #e3fff2  , 10,0,0,1 );
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

#loginButton:pressed{
    -fx-background-color: linear-gradient(to right, #e3fff2, #0dd696 100%,  #fffb8f 80% );
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

#nicknameTXT{
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-border-width: 0px;
    -fx-font-size: 16px;
    -fx-min-height: 40px;
    -fx-effect: dropshadow( gaussian , transparent , 0,0,0,0 );
    -fx-effect: innershadow( gaussian , transparent , 0,0,0,0 );
}

#nicknameTXT:hover{
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-border-width: 0px;
    -fx-font-size: 16px;
    -fx-min-height: 40px;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 0,0,0,0 );
    -fx-effect: innershadow( gaussian , #e3fff2 , 10,0,0,0 );
}

#nicknameTXT:focused{
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-border-width: 0px;
    -fx-font-size: 16px;
    -fx-min-height: 40px;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 0,0,0,0 );
    -fx-effect: innershadow( gaussian , #e3fff2 , 10,0,0,0 );
}