.chatTab {
    -fx-border-radius: 0px 0px 5px 5px;
}

.chatTab .tab-header-area {
    -fx-padding: 0 0 0 0;
}

.chatPane {
    -fx-background-color: #e8f4f8;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.chatLabelText {
    -fx-font-size: 10px;
}

.messageBox {
    -fx-background-color: rgb(233,233,235);
    -fx-background-radius: 7px;
}

.senderMessageBox {
    -fx-background-color: rgb(15,125,242);
    -fx-color: rgb(239, 242,255);
    -fx-background-radius: 7px;
}

.senderMessageText {
    -fx-text-fill: rgb(239, 242,255);
    -fx-color: rgb(239, 242,255);
    -fx-font-size: 18;
}
