
.winnerBox {
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-background-color: rgba(255, 255, 255, 0.8);
}

.winnerOrLoser {
    -fx-font-size: 90px;
    -fx-font-family: 'Old English Text MT';
    -fx-text-fill: black;
    -fx-effect: dropshadow( gaussian , #e3fff2  , 10,0,0,1 );
}

.winnerTitle {
    -fx-font-size: 30px;
    -fx-font-family: 'Georgia';
    -fx-text-alignment: center center;
    -fx-text-fill: black;
}

.winnerLabel {
    -fx-font-size: 20px;
    -fx-font-family: 'Georgia';
    -fx-text-alignment: center center;
    -fx-text-fill: black;
}

.winnerName {
    -fx-font-size: 42px;
    -fx-font-family: 'Old English Text MT';
    -fx-text-fill: black;
}

#welcomeLabel{
    -fx-font-size: 30px;
}